.footer__column-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.footer__column-link:hover {
  text-decoration: underline;
  opacity: .5;
  transition: opacity .5s;
}
