.rotation {
  animation: rotate360 20s linear infinite;
  /* -webkit-animation: rotate360 20s linear infinite; */
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
    z-index: -2; /* иначе в safari в header квадрат вылезает вперёд на первой итерации */
  }
  to {
    transform: rotate(360deg);
    z-index: -2;
  }
}
