.khan__buy-link {
  text-decoration: none;
  font-weight: 400;
  color: #2f80ed;
  line-height: 42px;
  font-size: 30px;
  padding: 0;
  margin: 0;
  height: 42px;
  transition: opacity .5s;
}

.khan__buy-link:hover {
  opacity: .5;
}
